
* {
box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
margin: 0;
padding: 0;
}

body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
background-color: brown;
max-height: 100%;
height: 100%;
color: black;
}

html,
body {
height: 100%;
}

.header {
height: 100px;
display: flex;
align-items: center;
text-transform: lowercase;
}

.header .header__square {
background-color: black;
height: 100px;
width: 100px;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-size: 14px;
margin-right: 20px;
text-decoration: none;
}

.main {
height: 820px;
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 100%;
place-items: center;
}

.main .main__info {
margin-left: 200px;
width: 100%;
}

.main .main__titles {
margin-bottom: 150px;
}

.main__titles .main__pre-title {
color: gray;
}

.main__titles .main__title {
font-size: 150px;
position: relative;
left: 80px;
}

.main__titles .main__subtitle {
font-size: 12px;
font-weight: 600;
color: gray;
}

.main .main__photo {
width: 100%;
height: 100%;
background-size: 100%;
background-position: center;
background-image: url(image.jpg);
display: flex;
align-items: flex-end;
}

.main__photo .main__navigation {
background-color: white;
padding: 25px 50px;
font-weight: 600;
}

.main__navigation .navigation__arrow:first-child {
margin-right: 10px;
}

.main__navigation .navigation__arrow:last-child {
margin-left: 10px;
}

.outer-menu-item:hover{
  background-color: #0073C0;
  color:white;
}
.menu-title{
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 5px 20px;
}
.inner-menu{
  display: none;
  position: absolute;
  top:40px; left:0;
  width: 100%;

  background: white;
  box-shadow: 0 2px 6px rgba(5, 5, 5, 0.9);
  z-index: 1000;

  text-align: center;
}
.inner-menu-item>a{
  display: block;
  padding: 5px 10px;
  color: black;
}
.inner-menu-item>a:hover{
  background: #0073C0;
  color:white;
}
